---
import RootLayout from "../layouts/RootLayout.astro";
import StarOnGitHub from "../components/star-on-github.astro";
import FluidWarpLogo from "../components/fluid-logos/warp";
import MeshBackground from "../components/backgrounds/mesh-background";
import WarpBackground from "../components/backgrounds/warp-background";
import MetaballsBackground from "../components/backgrounds/metaballs-background";
import SmokeRingBackground from "../components/backgrounds/smoke-ring-background";
import PerlinNoiseBackground from "../components/backgrounds/perlin-noise-background";
---

<RootLayout>
	<main class="mx-auto p-4 w-full max-w-screen-xl min-h-screen">
		<header>
			<div
				class="h-80 my-16 sm:my-32 flex flex-col items-center justify-center"
			>
				<a href="/">
					<FluidWarpLogo client:load />
				</a>

				<div class="mt-8 mb-4 text-center">
					<h1
						class="text-3xl sm:text-5xl text-zinc-900 font-extrabold text-balance"
					>
						Fluid Backgrounds
					</h1>
					<p class="mt-3 text-base text-zinc-600 text-balance">
						Subtle and fluid backgrounds built with paper shaders.
					</p>
				</div>

				<div class="mt-4 flex items-center justify-center gap-2">
					<StarOnGitHub />
					<a href="/examples" class="py-2 px-4 size-fit text-xs sm:text-sm text-zinc-900 whitespace-nowrap border border-zinc-300 bg-linear-to-b from-zinc-200 to-zinc-300 inset-shadow-xs inset-shadow-zinc-200/60 rounded-full transition-all duration-300 ease-in-out hover:scale-105">
						View Examples
					</a>
				</div>
			</div>
		</header>

		<section class="mb-8 grid grid-cols-1 sm:grid-cols-2 gap-4 sm:gap-8">
			<a href="/mesh-gradients" class="group relative">
				<div class="w-full aspect-video rounded-xl overflow-hidden">
					<MeshBackground
						color1="#bae6fd"
						color2="#60a5fa"
						color3="#312e81"
						color4="#c4b5fd"
						client:load
					/>
				</div>
				<h2
					class="p-1.5 text-sm text-zinc-900 group-hover:text-sky-900 font-medium underline underline-offset-2 decoration-transparent group-hover:decoration-sky-500"
				>
					Mesh Gradients
				</h2>
			</a>

			<a href="/warp" class="group relative">
				<div class="w-full aspect-video rounded-xl overflow-hidden">
					<WarpBackground
						color1="#53354A"
						color2="#903749"
						color3="#E84545"
						client:load
					/>
				</div>
				<h2
					class="p-1.5 text-sm text-zinc-900 group-hover:text-red-900 font-medium underline underline-offset-2 decoration-transparent group-hover:decoration-red-500"
				>
					Warp
				</h2>
			</a>

			<a href="#" class="group relative">
				<div class="w-full aspect-video rounded-xl overflow-hidden">
					<MetaballsBackground
						color1="#bae6fd"
						color2="#60a5fa"
						color3="#312e81"
						client:load
					/>
				</div>

				<div
					class="p-1.5 w-full flex items-center justify-between gap-2"
				>
					<h2
						class="p-1.5 text-sm text-zinc-900 group-hover:text-blue-900 font-medium underline underline-offset-2 decoration-transparent group-hover:decoration-blue-500"
					>
						Metaballs
					</h2>
					<p class="text-xs text-zinc-600 font-normal">
						coming soon-<i>ish</i>
					</p>
				</div>
			</a>

			<a href="#" class="group relative">
				<div class="w-full aspect-video rounded-xl overflow-hidden">
					<SmokeRingBackground
						colorBack="#000000"
						colorInner="#ffffff"
						colorOuter="#ffffff"
						thickness={1}
						noiseScale={1.8}
						client:load
					/>
				</div>
				<div
					class="p-1.5 w-full flex items-center justify-between gap-2"
				>
					<h2
						class="text-sm text-zinc-900 group-hover:text-zinc-950 font-medium underline underline-offset-2 decoration-transparent group-hover:decoration-zinc-500"
					>
						Smoke Rings
					</h2>
					<p class="text-xs text-zinc-600 font-normal">
						coming soon-<i>ish</i>
					</p>
				</div>
			</a>

			<a href="#" class="group relative">
				<div class="w-full aspect-video rounded-xl overflow-hidden">
					<PerlinNoiseBackground color1="#000" color2="#fff" speed={0.4} client:load />
				</div>
				<div
					class="p-1.5 w-full flex items-center justify-between gap-2"
				>
					<h2
						class="text-sm text-zinc-900 group-hover:text-zinc-950 font-medium underline underline-offset-2 decoration-transparent group-hover:decoration-zinc-500"
					>
						Perlin Noise
					</h2>
					<p class="text-xs text-zinc-600 font-normal">
						coming soon-<i>ish</i>
					</p>
				</div>
			</a>
		</section>
	</main>
</RootLayout>
