---
import ColorPalettes from "../components/color-palettes";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout
    title="Mesh Gradients"
    description="Mesh gradients from Nice Color Palettes"
>
    <section class="mx-auto p-4 w-full max-w-screen-lg">
        <ColorPalettes client:load />
    </section>
</RootLayout>
