---
import RootLayout from "../layouts/RootLayout.astro";
import WarpBackground from "../components/warp-background";
import StarOnGitHub from "../components/star-on-github.astro";
import FluidWarpLogo from "../components/fluid-logos/warp";
---

<RootLayout
    title="Mesh Gradients"
    description="Mesh gradients from Nice Color Palettes"
>
    <section class="mx-auto p-4 w-full max-w-screen-xl min-h-screen">
        <div class="h-80 sm:my-32 flex flex-col items-center justify-center">
            <a href="/">
                <FluidWarpLogo client:load />
            </a>

            <div class="mt-8 text-center">
                <h1 class="text-5xl text-zinc-900 font-extrabold text-balance">
                    Free Warp <br /> Shader Collections
                </h1>
                <p class="mt-2 text-base text-zinc-600">
                    Made with Paper Shaders
                </p>
            </div>

            <StarOnGitHub />
        </div>

        <WarpBackground client:load />
    </section>
</RootLayout>
