---

---

<a
    href="https://github.com/iann-mathaiya/fluid-backgrounds" target="_blank" rel="noopener noreferrer"
    class="py-2 px-4 size-fit text-xs sm:text-sm text-white whitespace-nowrap border border-zinc-500 bg-linear-to-b from-zinc-700 to-zinc-950 inset-shadow-xs inset-shadow-zinc-200/60 rounded-full transition-all duration-300 ease-in-out hover:scale-105"
>
    Star on GitHub
</a>
