---

---

<a
    href="https://github.com/iann-mathaiya/fluid-backgrounds" target="_blank"
    class="mt-4 py-2 px-4 size-fit text-xs sm:text-sm text-white whitespace-nowrap border border-zinc-500 hover:border-amber-400 bg-linear-to-b from-zinc-700 to-zinc-950 hover:from-amber-400 hover:via-40% hover:via-amber-500 hover:to-amber-600 inset-shadow-xs inset-shadow-zinc-200/60 rounded-full"
>
    Star on GitHub
</a>
