---
import RootLayout from "../../layouts/RootLayout.astro";
import FluidWarpLogo from "../../components/fluid-logos/warp";
import StarOnGitHub from "../../components/star-on-github.astro";

---

<RootLayout title="Examples" description="UI things built with Paper Shaders">
    <main class="mx-auto p-4 w-full max-w-screen-xl min-h-screen">
        <header class="mt-0 sm:mt-12 flex items-center gap-4">
            <a href="/">
                <FluidWarpLogo client:load />
            </a>

            <div class="sm:w-full flex flex-col sm:flex-row sm:justify-between gap-2">
                <div class="w-full">
                    <h1 class="text-lg font-semibold">IRL Examples</h1>
                    <p class="text-sm text-zinc-600 text-balance">
                        <span class="sm:hidden block">
                            Built with paper shaders
                        </span>
                        <span class="hidden sm:block">
                            Projects built with paper shaders.
                        </span>
                    </p>
                </div>

                <StarOnGitHub />
            </div>
        </header>

        <div>
            
        </div>
    </main>
</RootLayout>